body {
  font-family: Arial;
  background: #f1f2f5;
  padding: 40px;
}

.box {
  max-width: 500px;
  background: white;
  padding: 20px;
  margin: auto;
  border-radius: 8px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #1877f2;
  color: white;
  border: none;
  font-size: 16px;
}
